        <main class="main__pixel">
            <div class="article__background">
                <article class="article__pixel">
                    <section class="section__presentation">
                        <h1 class="section__presentation--title"><strong>Melhores Pixels da Ascent</strong></h1>

                        <div class="section__presentation--agent">
                            <img src="../img/brimstone-face.png" alt="">
                            <h3>Brimstone</h3>
                        </div>

                        <p class="section__presentation--text"> "Este site não tem como objetivo ensiná-lo a usar os
                            pixels
                            durante a partida. Recomendamos que você aprenda primeiro em um modo de treinamento e use o
                            nosso
                            site apenas para relembrar como usá-los.
                            Você pode deixar a aba do navegador aberta ao lado ou no celular enquanto joga &#128521"
                            <br><br><i>Boa partida!</i>
                        </p>


                        <figure class="section__presentation--overview">
                            <figcaption>Ascent Overview</figcaption>
                            <img src="../img/overview-ascent.jpg" alt="">
                        </figure>
                        <div class="choice__div">
                            <div class="section__presentation--choice section__presentation--defesa">
                                <div class="div1">Def</div>
                                <div class="div3">
                                    <a href="#def__bomb-a">
                                        <div class="div2">&#10162 Bomb <span>A</span></div>
                                    </a>
                                    <a href="#def__bomb-b">
                                        <div class="div2">&#10162 Bomb <span>B</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="section__presentation--choice section__presentation--ataque">
                                <div class="div1">Atk</div>
                                <div class="div3">
                                    <a href="#atk__bomb-a">
                                        <div class="div2">&#10162 Bomb <span>A</span></div>
                                    </a>
                                    <a href="#atk__bomb-b">
                                        <div class="div2">&#10162 Bomb <span>B</span></div>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <section class="section__videos">
                            <div class="div32">
                                <h3 class="h3v">Vídeos</h3>
                            </div>

                            <h2 id="def__bomb-a" class="section__video--title">DEFESA - Bomb A</h2>

                            <iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/GS9wZXJVU0M?start=30" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                            <h2 id="def__bomb-b" class="section__video--title">DEFESA - Bomb B
                            </h2>
                            <iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/GS9wZXJVU0M?start=30" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <h2 id="atk__bomb-a" class="section__video--title">ATAQUE - Bomb A
                            </h2>
                            <iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/-TYpCZlQqEA?start=80" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <h2 class="section__video--title">ATAQUE - Bomb A <small>close</small></h2>
                            <iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/-TYpCZlQqEA?start=145" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                            <h2 id="atk__bomb-b" class="section__video--title">ATAQUE - Bomb B </h2>
                            <iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/-TYpCZlQqEA?start=318" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <h2 class="section__video--title">ATAQUE - Bomb B
                                <small>close</small>
                            </h2>
                            <iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/-TYpCZlQqEA?start=242" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                        </section>
                    </section>
                </article>
            </div>
        </main>