<main>
            <nav class="agents">
                <h1 class="agents__h1">Escolha seu <br> <strong class="agents__h1--destaque">agente</strong></h1>
                <ul class="agents__menu">
                    <a href="/maps">
                        <li class="agents__item">
                            <h2 class="agents__name">Brimstone</h2>
                            <div class="agents__img brimstone"></div>
                        </li>
                    </a>
                    <li class="agents__item">
                        <h2 class="agents__name">Viper</h2>
                        <div class="agents__img viper">
                            <p>Em breve!</p>
                        </div>
                    </li>
                    <li class="agents__item">
                        <h2 class="agents__name">Sova</h2>
                        <div class="agents__img sova">
                            <p>Em breve!</p>
                        </div>
                    </li>
                    <li class="agents__item">
                        <h2 class="agents__name">Killjoy</h2>
                        <div class="agents__img killjoy">
                            <p>Em breve!</p>
                        </div>
                    </li>
                    <li class="agents__item">
                        <h2 class="agents__name">Kay/o</h2>
                        <div class="agents__img kayo">
                            <p>Em breve!</p>
                        </div>
                    </li>

                </ul>
            </nav>
        </main>