<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon">
   <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Wallpoet&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" media="(min-width: 1066px)" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/foooter.css" type="text/css">
    <link rel="stylesheet" href="/css/container.css" type="text/css">
    <link rel="stylesheet" href="/css/mapaSelected.css" type="text/css">
    <link rel="stylesheet" href="/css/maps.css" type="text/css"/>
    <link rel="stylesheet" href="/css/buscaDuo.css">
    <link rel="stylesheet" href="/css/cadastrarDuo.css">
    <title>Brimstone Pixel</title>
</head>

<body>
    <div class="background background-1">
        <header class="header">
            <a class="header__logo" href="/">
                <img class="header__logo--full" src="/img/PX2.svg" />
                <img class="header__logo--mobile" src="/img/PX2-index.svg" />
            </a>
            <nav>
                <ul class="header__menu">
                    <li class="header__menu__item"><a href="/">Pixel</a></li>
                    <li class="header__menu__item"><a href="/maps">Mapas</a></li>
                    <li class="header__menu__item header__menu__item--sobre"><a href="#sobre">Sobre</a></li>
                    <li class="header__menu__item header__menu__item--contact"><a href="/searchDuo">Buscar
                            duo</a>
                    </li>
                </ul>
            </nav>
        </header>
     {{{ body }}}
    </div>
    <footer class="footer">
        <div class="footer__image">
            <img src="/img/BrimPC.png" alt="">
        </div>

        <section class="footer__section footer__section--access">
            <h3 class="footer__section--title">Acesso Rápido</h3>
            <ul class="section__list">
                <li class="section__links section__links-atalho"><a href="index.html">Home</a></li>
                <li class="section__links section__links-atalho"><a href="">Retículas</a></li>
                <li class="section__links section__links-atalho"><a href="">Notícias</a></li>
                <li class="section__links section__links-atalho"><a href="">Atribuições</a></li>
            </ul>
        </section>

        <section class="footer__section footer__section--about">

            <h3 class="footer__section--title">Sobre</h3>
            <p id="sobre" class="footer__section--p"> Brimstone Pixel é um site criado por mim, Cherlau Prado, também
                conhecido
                como "Viperous" em game, o meu site foi feito para ensinar sobre os pixels dos mapas do jogo, oferecendo
                um conteúdo útil e prático para jogadores de todos os níveis, ajudando a tornar suas partidas ainda mais
                divertidas e competitivas.
            </p>
        </section>

        <section id="contact" class="footer__section footer__section--contact">
            <h3 class="footer__section--title">Contato</h3>
            <dl class="section__list">
                <dt class="section__links"><a href="mailto:cherlau2019@gmail.com">Email</a></dt>
                <dd>&#9657cherlau2019@gmail.com</dd>
                <dt class="section__links"><a href="https://discord.com/">Discord</a></dt>
                <dd>&#9657cherlau #6303</dd>
                <dt class="section__links"><a href="https://tracker.gg/valorant/profile/riot/viperous%23vip/overview"
                        target="_blank">Valorant Tracker.gg</a></dt>
                <dd>&#9657Viperous #vip</dd>
            </dl>
        </section>

        <section class="footer__section footer__section--form">
            <h3 class="footer__section--title"></h3>
        </section>
    </footer>
    <div class="footer__copy">
        <p>&copy; Cherlau da Silva Prado Filho, 2023</p>
    </div>
</body>

</html>