    <main>
      <nav class="maps">
        <h1 class="maps__title">Mapas</h1>
        <ul class="maps__menu">
          <li class="maps__item">
            <a href="/maps/1">
              <figure class="maps__figure">
                <img src="../img/icebox.png" alt="icebox" />
                <figcaption>Icebox</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/2">
              <figure class="maps__figure">
                <img src="../img/ascent.png" alt="ascent" />
                <figcaption>Ascent</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/3">
              <figure class="maps__figure">
                <img src="../img/pearl.png" alt="pearl" />
                <figcaption>Pearl</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/4">
              <figure class="maps__figure">
                <img src="../img/haven.png" alt="haven" />
                <figcaption>Haven</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/5">
              <figure class="maps__figure">
                <img src="../img/split.png" alt="split" />
                <figcaption>Split</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/6">
              <figure class="maps__figure">
                <img src="../img/bind.png" alt="bind" />
                <figcaption>Bind</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/7">
              <figure class="maps__figure">
                <img src="../img/fracture.png" alt="icebox" />
                <figcaption>Fracture</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/8">
              <figure class="maps__figure">
                <img src="../img/breeze.png" alt="ascent" />
                <figcaption>Breeze</figcaption>
              </figure>
            </a>
          </li>
          <li class="maps__item">
            <a href="/maps/9">
              <figure class="maps__figure">
                <img src="../img/lotus.png" alt="ascent" />
                <figcaption>Lotus</figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </nav>
    </main>