* {
    box-sizing: border-box;
}

.h2search {
    text-align: center;
}

.background {
    padding-bottom: 10%;
}

.buscaDuo {
    max-width: 800px;
    margin: 5% auto;
}

.buscaDuo section {
    margin-top: 5%;
}

.buscaPostada__container {
    margin-top: 1.4rem;

    background-color: #1f1e1ee2;
    color: #fdfdfddc;
    border-radius: .5rem;
}

.buscaDuo__header {
    text-align: center;

    color: #ffffffc3;
}

.buscaDuo__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.buscaDuo__titulo strong {
    font-size: 2.5rem;
    color: #fa384c;
}

.buscaDuo__subTitulo {
    margin: .8rem 0 1.3rem 0;
}

.buscaDuo__subTitulo a {
    font-weight: 700;
    text-decoration: underline !important;

    color: #fff;
}

.buscaDuo__btn-Cadastrar {
    padding: 0.5rem;
    margin-top: 1rem;

    font-size: 1rem;
    font-weight: 600;

    border: none;
}

.buscaDuo__busca {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3rem;

}

.buscaDuo__busca--input {
    flex-grow: 1;
    padding: 0.5rem;
    margin: 0;

    border-radius: 0;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border: none;
}

.buscaDuo__busca--btn {
    padding: .2rem .4rem;


    border: none;
    border-radius: 0;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    background-color: #fa384c;
    color: #fff;
}

.buscaPostada__user {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #555555dd;

}

.buscaPostada__user--img {
    width: 5rem;
    display: inline-block;
    margin: .6rem;
}

.buscaPostada__user--img img {
    width: 100%;

    border-radius: 50%;
    border: 1px solid #555;
}

.buscaPostada__user--text {
    line-height: 1.3rem;
    margin-left: .3rem;
}

.buscaPostada__user--textName {
    color: #fa384c;
    font-weight: 700;
}

.buscaPostada__info {
    padding: .6rem;
}

.buscaPostada__info--email {
    padding-bottom: .4rem;
}

.buscaPostada__info--nick {
    padding-top: .3rem;
}

small {
    font-size: .75rem;
}

strong {
    font-weight: 600;
}

.strongEquipe {
    font-weight: 700;
}

.buscaPostada__user__date {
    border-bottom: 1px solid #555555dd;
    margin-left: 2%;
    width: 96%
}

.buscaPostada__info--textArea {
    border-bottom: 1px solid #555555dd;
    padding: .6rem 0;

}

.buscaPostada__user__date--smallDate {
    padding: .2rem;
    letter-spacing: .03rem;
}

.info__contact {
    margin-top: .5rem;
    font-size: .9rem;
}

.buscaDuo__btn-Cadastrar {
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;

    font-weight: 500;
    text-align: center;

    color: #ffffffe8;
    background-color: #fa384c;
    border: none;
    border-radius: .7rem;
}

input {
    padding: .3rem;
    border-radius: .2rem;
    border: none;
}

textarea {
    border-radius: .2rem;
}

@media (min-width: 1066px) {

    .buscaDuo__titulo {
        font-size: 2rem;
    }

    .background {
        padding-bottom: 1%;
    }

    .buscaPostada__container {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

}